<html>
  <head>
  </head>
  <body>
    <h1><%=app.project.getProject().name%></h1>
    <% app.repository.select('@UMLClass').forEach(elem => { %>
    <h2><%= elem.name %></h2>
    <ul><% elem.attributes.forEach(attr => { %>
      <li><%= attr.name %> : <%= attr.getTypeString() || '<untyped>' %></li><% }) %>
    </ul>
    <% }) %>
  </body>
</html>
